# ======================================================
# Alunos: Angelo Louzada | Bruno | Madson - Grupo 2
# ======================================================
trigger:
  - main

pool:
  name: 'agentPoolPucMinas'
  demands:
    - Agent.Name -equals mac-agent-pucminas-01

variables:
  resourceGroupName: rg-iac-webapp-paas
  location: brazilsouth
  siteName: lmliacpaas001-pucg2
  vmName: 'vm-iac-web-iis-paas'
  templateFile: arm-templates/webapp-template.json
  parametersFile: arm-templates/webapp-parameters.json

stages:
  - stage: DeployInfrastructure
    jobs:
      - job: ARM_Deployment
        steps:
          - task: AzureResourceManagerTemplateDeployment@3
            inputs:
              deploymentScope: 'Resource Group'
              azureResourceManagerConnection: 'ar01com'
              subscriptionId: '05c40d7a-313f-4ffa-8640-8b46ed864d71'
              action: 'Create Or Update Resource Group'
              resourceGroupName: '$(resourceGroupName)'
              location: '$(location)'
              templateLocation: 'Linked artifact'
              csmFile: '$(templateFile)'
              csmParametersFile: '$(parametersFile)'
              overrideParameters: >
                -siteName $(siteName)
                -location $(location)
              deploymentMode: 'Incremental'

  - stage: DeployApp
    dependsOn: DeployInfrastructure
    jobs:
      - job: Publish_HTML
        steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: 'ar01com'
              appType: 'webApp'
              appName: '$(siteName)'
              package: 'src'